.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  position: fixed;
  background-image: url(../assets/backgroung.png);
}

.titulo {
  color: #e48e72;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
}
